{% extends 'core/base.html' %}
{% load static %}

{% block title %}About - Eco Website{% endblock %}

{% block content %}
<div class="container">
    <h1>About Global Energy Consumption</h1>
    <p>
        Global surface temperature reconstructions show that our planet has warmed since 1880. Much of the warming occurred since the 1970’s and 10 of the warmest temperatures recorded occurred in the last 12 years.
        Carbon Dioxide (CO2) and Methane are the greenhouse causes that greatly contribute to the warming of the planet.
        In the last century, Earth has warmed by approximately 1 degree Fahrenheit.
        Industrialization, Agriculture, Vehicle Emissions and Electricity Generation are the top sources of greenhouse gas.

        In order to fight limate change. Global Energy Consumption (GEC) team have made a website for everyone to see. Our scientists have 
        the lastest data and news to inform the public. We believe we need to act together as one to fight this battle.
        Our goal is for our children and childrens children to live in a world thats green and eco friendly.

        GEC was formed in 2005 after witnessing the horros of climate change. We have developed state of the art machines that generate 
        renewable power that can help us fight climate change.

        If you want to contact us about anything feel free to visit our contact page in the footer.
        Dont forget. We are all in this together. Lets be part of the change.
    </p>
    <img src="{% static 'images/hydro.jpg' %}" alt="carousel1">
</div>
{% endblock %}
