{% extends 'core/base.html' %}

{% block title %}Contact Us - Eco Renewable{% endblock %}

{% block content %}
    <header>
        <h1>Contact Us</h1>
    </header>
    <div class="content">
        <p>Feel free to reach out to us for any inquiries or feedback:</p>
        <p>Email: info@ecorenewable.com</p>
        <p>Phone: +64 (123) 456-7890</p>
        <p>Located in : 123/321 Park drive, New Market, Auckland 2033</p>
      
    </div>
    <footer>
        <p><a href="{% url 'home' %}">Back to Home</a></p>
    </footer>
{% endblock %}
